{{ define "main" -}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46736129-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46736129-2');
</script>

{{ .Content }}
    {{ range .Site.Data.Working }}
    <strong style="font-size: 22px;color:#5297D5;">{{ .info }}</strong>
    {{ with .companies }}
    {{ range . }}
    <p>
        <strong style="color:blue;">{{ .company }}</strong><br>
        <strong style="color:brown;">{{ .title }}</strong><br>
        <strong style="color:greenyellow;">{{ .time }}</strong><br>
        {{ .duty1 }}<br>
        {{ .duty2 }}<br>
        {{ if .duty3 }}
            {{ .duty3 }}<br>
        {{ end }}
        {{ if .duty4 }}
            {{ .duty4 }}<br>
        {{ end }}
        {{ if .duty5 }}
            {{ .duty5 }}<br>
        {{ end }}
        {{ if .duty6 }}
            {{ .duty6 }}<br>
        {{ end }}
        {{ if .duty7 }}
            {{ .duty7 }}<br>
        {{ end }}
        {{ if .duty8 }}
            {{ .duty8 }}<br>
        {{ end }}
        

        <!-- Role: {{ .role }}<br> -->
        <!-- {{ if .teaching_evaluation }}
            Avg. Teaching Evaluation: {{ .teaching_evaluation}}<br>
        {{ end }}
        {{ if .achievement }}
           Achievement :  {{ .achievement }}
        {{ end }} -->
    </p>
    {{ end }}
    {{ end }}
    {{ end }}
{{- end }}
